<div class="uk-card h-screen sidenav uk-card-body overflow-y-auto	">
  <img routerLink="" src="assets/icon.png" class="side-logo" alt="">
  <hr class="my-6 side-hr">
  <p class="menu-title mb-4">menu</p>
  <div class="uk-width-1-2@s uk-width-1-1@m">
    <ul class="uk-nav-default sidemenu uk-nav-parent-icon "  uk-nav>
      <li class="uk-active"><a href="#"><span class="material-icons-two-tone">
            grid_view
          </span>Dashboard</a></li>
      <li>
        <a href="#"><span class="material-icons-two-tone">
            shopping_bag
          </span> Orders</a>
      </li>
      <li>
        <a href="#"><span class="material-icons-two-tone">
          inventory_2
        </span>Products</a>
      </li>
      <li>
        <a href="#"><span class="material-icons-two-tone">
          published_with_changes
        </span>Updates</a>
      </li>
      <li >
        <a href="#"><span class="material-icons-two-tone">
          person_outline
        </span>Customers</a>
      </li>
      <li >
        <a href="#"><span class="material-icons-two-tone">
          local_offer
        </span>Coupon Code</a>
      </li>
      <li>
        <a href="#"><span class="material-icons-two-tone">
          bubble_chart
        </span>Affiliate</a>
      </li>
      <li>
        <a href="#"><span class="material-icons-two-tone">
          account_balance
        </span>Bank</a>
      </li>
      <li>
        <a href="#"><span class="material-icons-two-tone">
          summarize
        </span>Reports</a>
      </li>
      <li>
        <a href="#"><span class="material-icons-two-tone">
          settings_applications
        </span>Settings</a>
      </li>
    </ul>
  </div>
</div>
