.login-logo {
  width: 50px;
  padding: 10px;
  background-color: white;
  border-radius: 50%;
}

.login-heading {
  font-size: 13pt;
  color: black;
  font-weight: 600;
  padding-top: 15px;
}

.login-subheading {
  font-size: 9pt;
  color: grey;
}

.forget-link {
  font-size: 9pt;
  color: black;
  text-transform: capitalize;
}


